<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: " about" }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">About Me</h2>
                <h3 class="section-subheading text-muted">My story</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 text-center">
                <img src="/assets/img/me.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div class="large text-muted">
                    <p>Hi my name is Emma and I am currently studying a Bachelor of Health Science (Nutrition and
                        Exercise) finishing late 2022.</p>
                    <p>Recently I have also decided achieve both a nutrition, health and wellness coaching certification
                        and a more specialised women's health and wellness coaching certification, both of which I hope
                        to finish in 2022 or early 2023. </p>

                    <h2>Previous education and experience:</h2>

                    <p>I have obtained a Bachelor of Education (Secondary) and a Bachelor of Arts. I spent 2004-2011
                        teaching VCE Psychology and Media in secondary schools in Melbourne, Australia.</p>
                    <p>In 2011 I left the teaching profession when my eldest son was born. I went on to add another son
                        to our family in 2014.</p>
                    <p>In 2014 I also started my own creative business which you can find at www.emkiedesigns.com </p>
                    <p>I am no longer developing this business, however I still enjoy spending my free time sewing and
                        being creative.</p>

                    <h2>My 'why?'</h2>

                    <p>In September 2016 I saw some photos of myself and decided something needed to change. When I
                        first saw the pictures I was extremely unhappy and I barely recognised myself. I didn't know how
                        I had gotten so overweight. I mean, I hated exercise and only went to the gym once or twice a
                        week - if I could be bothered. I also loved food, I had grown up with food allergies, and have
                        always been a 'picky' eater. My diet mainly consisted of bread, not many vegetables, and
                        chicken, I loved ice-cream, chocolate, and chips, so having no nutrition knowledge definitely
                        wasn't helping! Over a 4 year span I worked to changed my lifestyle by adjusting my diet and
                        exercising consistently for the first time in my life! These lifestyle changes helped me lose
                        over 20kg. I gained more energy, confidence and self-love through this process. In 2020 I
                        struggled with what I thought was emotional eating but was eventually diagnosed as an eating
                        disorder. Thankfully I had help recovering from this and because of this history, I am
                        passionate about helping others achieve a good relationship with food while working towards
                        their health goals. </p>
                    <p>I began my Bachelor of Health Science (Nutrition and Exercise) degree in 2019 as a result of my
                        health journey. I hope to be able to help my clients achieve their health goals, and make them
                        feel as though they always have a cheerleader in their corner.</p>

                    <p>Enjoy looking around my website, I would love to get to know you so be sure to contact me via the
                        contact me form below or if you prefer you can email me at hello.emma@wengier.com </p>
                    <p>You can also find me on Instagram @emma.wengier.nutrition</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->